*{
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(71, 113, 228);
    padding: 15px;
}

.logo {
    display: flex;
    margin-left: 5%;
}

.nav {
    display: flex;
    margin-left: 15%;
    align-items: center;
}

.links {
    display: flex;
    position: relative;
    gap: 34px;
    list-style: none;
    
}

.link-item {
    color: white;
}

.item-menu {
    padding: 5px;
}

.active-menu {
    border-bottom: 3px white solid;
}

.item-menu:hover {
    border-bottom: 3px white solid;
    transition: .2s;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card-01 {
    width: 250px;
    height: 350px;
    padding-bottom: 10px;
    background-color: #eee;
    margin-top: 2%;
    border-radius: 10px;
}

.img-card-01 {
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.icon__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
}


.conteudo {
    margin-left: 10px;
    margin-top: 15px;
}

.descricao,
.date {
    margin-top: 5px;
}

.date {
    color: rgba(0, 0, 0, 0.4);
}

.card_vertical{
    display: flex;
    background-color: #eee;
    margin-top: 2%;
    height: 190px;
    width: 500px;
    border-radius: 10px;
}

.img-card{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 210px;
    height: 190px;
}

.titulo_card02{
    margin: 3%;
}

.descricao__card02 {
    margin: 3%;
}

.flex-icons-02 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}