@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

:root {
	--primary-50: #f1e9fd;
	--primary-100: #dac8fa;
	--primary-200: #c1a3f7;
	--primary-300: #a87bf5;
	--primary-400: #925bf1;
	--primary-500: #7c3aed;
	--primary-600: #7135e6;
	--primary-700: #612cdd;
	--primary-800: #5125d7;
	--primary-900: #3313ce;
	--primary-a-100: #b78cfa;
	--primary-a-200: #8957f4;
	--primary-a-400: #7c3aed;
	--primary-a-700: #7a34d7;
	--gray-50: #fcf9ff;
	--gray-100: #f7f4fc;
	--gray-200: #f1eff6;
	--gray-300: #e4e1e9;
	--gray-400: #c1bfc6;
	--gray-500: #a2a0a7;
	--gray-600: #79777d;
	--gray-700: #656369;
	--gray-800: #45444a;
	--gray-900: #242228;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
}

.conteiner{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-post{
	background-color: var(--primary-50);
	width: 505px;
	padding: 14px 21px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	border-radius: 8px;
}

.form-titulo{
	text-align: center;
	font-weight: 200;
	font-size: 20.59px;
}

.risco{
	border: 1px solid white;
}

.form-user {
	display: flex;
	align-items: center;
	gap: 8px;
}

.user-photo {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.user-name {
	font-size: 13.72px;
	font-weight: 500;
}

textarea{
	width: 100%;
	height: 90px;
	resize: none;
	border: none;
}

textarea::placeholder {	
	text-align: center;
	line-height: 90px;
	color: var(--gray-500);
	
}

.publish-resources {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	border: 0.5px white solid;
	border-radius: 8px;
}

.publish-titulo {
	font-size: 13.72px;
}

.link-icon {
	text-decoration: none;
	color: black;
}

.btn-post {
	height: 53px;
	border-radius: 8px;
	border: none;
	background-color: var(--primary-500);
	color: white;
	font-weight: 500;
}
